:root {
  --coral: hsl(0, 100%, 75%);
  --peach: hsl(30, 100%, 75%);
  --yellow: hsl(60, 100%, 75%);
  --green: hsl(120, 100%, 75%);

  --border-color: #ccc;
  --rainbow: linear-gradient(45deg, var(--coral), var(--peach) 15%, var(--yellow) 65%, var(--green) 100%);
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  min-width: 250px;
  min-height: 250px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}

.panel-ui {
  display: flex;
  flex-direction: column;
  width: 100vw;
  transition: opacity 0.4s;
  padding-top: 3em;
}

.panel-ui.loading {
  opacity: 0.3;
  pointer-events: none;
}

details#metadata {
  box-shadow: 0 1px 10px rgba(0,0,0,0.75);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

details#metadata > summary {
  list-style-type: none;
  background: url('chrome://global/skin/icons/arrow-down.svg') no-repeat top 13px right 12px;
  background-size: 16px;
  padding-inline: 30px;
  padding-block: 8px;
  overflow: ellipsis;
  cursor: pointer;
}

details#metadata > summary:hover {
  box-shadow: 0 1px 10px rgba(0,0,0,0.75);
}

details#metadata[open] > summary {
  background-image: url('chrome://global/skin/icons/arrow-up.svg');
}

h1 {
  display: inline-block;
  margin-block: 0;
  padding: 0.2em 1em;
  font-size: 1em;
  font-weight: normal;
}

#toolbar {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-block: 1em;
}
#toolbar > .toolbar-item {
  min-height: 1.3em;
  white-space: nowrap;
}
.arrow {
  font-size: 1.2em;
}

button {
  background-color: var(--green);
  border: 2px solid black;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0.5em;
}

#posn-label {
  padding: 0.3em;
  font-size: 0.8em;
}

.inring :is(#back-btn, #posn-label, #next-btn) {
  display: block;
}
.inring #jump-btn {
  display: none;
}
.panel-ui:not(.inring) #jump-btn {
  background: var(--rainbow);
  border: 2px solid black;
  border-radius: 5px;
  display: block;
  padding: 0.5em;
}
.panel-ui:not(.inring) :is(#back-btn, #posn-label, #next-btn) {
  display: none;
}

select#ring-chooser {
  margin-inline: 0;
  border: none;
  width: 100%;
}

select#ring-chooser option {
  padding-block: 4px;
  padding-inline: 16px 8px;
  border: 1px solid #aaa;
  border-bottom-style: none;
  background-color: white;
}

select#ring-chooser option:hover {
  border-color: #999;
  background-color: color-mix(in srgb, var(--yellow) 30%, white);
}
select#ring-chooser option[selected] {
  background-color: color-mix(in srgb, var(--peach) 30%, white);
}

.panel-ui > footer {
  border-top: 1px solid var(--border-color);
  padding-block: 4px;
  flex-basis: max-content;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.75);
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  font-size: 0.8em;
}
